.portfolio-contacts {
    position: relative;
    z-index: 2;
    background: $bg-color; 
    padding-bottom: 50px;
    &_content { 
        margin-top: 10px;
        border: 1px solid #e4e4e4;
        ul { 
            padding: 15px 0;
            margin: 0;
            li { 
                padding: 15px 30px;
                list-style: none;
            }
        }
    }
}