 

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 992px) {
    .portfolio-works { 
        &_content { 
            &-box {
                .item {
                    a { 
                        opacity: 0; 
                    }
                    .info-btn { 
                        opacity: 0;
                        &:hover { 
                            opacity: .7 !important;
                        } 
                    }
                   
                }
                .item:hover { 
                    a { 
                        opacity: 1;
                    }
                    .info-btn { 
                        opacity: 1;
                    }
                    h5 { 
                        opacity: 0;
                    }
                    
                }
                .item-html:hover { 
                    a {  
                        &:hover {
                            background:  #746d61;
                            svg { 
                                fill: #fff;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {
    .portfolio-about {
        padding-top: 40px;
        padding-bottom: 50px;
     }

}

@media screen and (max-width: 576px) {
    .portfolio { 
        &-header { 
            height: 50vh;
            &-menu {
                ul {
                    flex-direction: column;
                    li { 
                        margin-left: 0;
                        text-align: right;
                    }
                }
                
            }
        }
        &-works { 
            &_content { 
                &-box {
                    .item {
                        max-width: 250px;
                        height: 120px;
                        margin-bottom: 15px;
                        margin-left: auto;
                        margin-right: auto;
                    } 
                }
            }
        }
        &-contacts { 
            .portfolio-title  { 
                text-align: center;
            }
            .container { 
                padding: 0;
            }
            &_content { 
                border-left: 0;
                border-right: 0;
                border-bottom: 0;
                ul { 
                    padding: 0;
                    li { 
                        padding: 20px 0;
                        border-bottom: 1px solid #e4e4e4; 
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px)  {
    .portfolio {  
        &-works { 
            &_head { 
                flex-direction: column;
                align-items: center;
                .portfolio-title { 
                    text-align: center;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)   {

}