 

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 992px) {
    .portfolio-works { 
        &_content { 
            &-box {
                .item {
                    a { 
                        opacity: 0; 
                    }
                    .info-btn { 
                        opacity: 0;
                        &:hover { 
                            opacity: .7 !important;
                        } 
                    }
                   
                }
                .item:hover { 
                    a, .info-btn { 
                        opacity: 1;
                    }
                    h5 { 
                        opacity: 0;
                    }
    
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 576px) {
    .portfolio { 
        &-header { 
            height: 50vh;
            &-menu {
                ul {
                    flex-direction: column;
                    li { 
                        margin-left: 0;
                        text-align: right;
                    }
                }
                
            }
        }
        &-works { 
            &_content { 
                &-box {
                    .item {
                        max-width: 250px;
                        height: 120px;
                        margin-bottom: 15px;
                        margin-left: auto;
                        margin-right: auto;
                    } 
                }
            }
        }
    }
}

@media screen and (max-width: 420px)  {

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)   {

}